:root {
    --dark: #181816;
    --light: #E9E8E4;
    --title: 'Yeseva One', cursive;
}

* {
    box-sizing: flex-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

/* BODY */

body {
    display: flex;
    flex-direction: column;
}

/* LANDING */
#home-landing {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('./assets/women_in_blue_and_gold.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--light);
}
/* Navbar */
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1em;
    height: 10vh;
    align-items: center;
    
}

#navbar div {
    width: 25vw;
    margin: 40px;
    
}
#navbar-section-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navbar-section-right {
    text-align: right;
}
/* Title */
#home-landing-title {
    text-align: center;
    position: relative;
    bottom: 50px;
}
#home-landing-title h1 {
    font-size: 20em;
    display: inline;
    margin: 0 0 100px 0;
    font-family: var(--title);
    letter-spacing: 25px;
}